#content {
  padding: 15px 30px;
}

div.status {
  margin-left: 50px;
  font-size: 1.4em;
}

div.pagetitle {
  font-size: 300%;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

th {
  text-align: center;
  font-size: 1.6em;
  padding: 0px 5px;
}

td {
  font-size: 1.3em;
  padding: 0px 5px;
}

td.center {
  text-align: center;
}