{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="pagetitle"><a href="/">Wordfinder - About</a></div>

<div style="margin-top: 50px;"></div>
<div>
  A small Scrabble / Wordfeud helper because I needed some project to improve my Python and Docker skills. The source code can be found on <a href="https://github.com/wluberti/wordSearchPythonSqlite">Github</a>
</div>

<div style="margin-top: 200px;"></div>
<div class="status">Some buttons because im to lazy to type them into the URL after a dabase reload:</div>
<div><a href="/prepare"><button type="button" class="btn btn-outline-primary">Prepare DB</button></a></div>
<div><a href="/check"><button type="button" class="btn btn-outline-info">Check</button></a></div>

{% if status %}
    <div class="status">{{ status }}</div>
{% endif %}

{% endblock %}