<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Wordfinder - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/icon" href="/static/favicon.ico"/>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <div style="margin-top: 100px;"></div>
        <a href="/about">About</a>.
        {% endblock %}
    </div>
</body>
</html>