<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>{% block title %}{% endblock %} - pySqlite</title>
    <link rel="shortcut icon" type="image/icon" href="/static/favicon.ico"/>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <div style="margin-top: 250px;"></div>
        <div><a href="/prepare"><button type="button" class="btn btn-outline-primary">Prepare DB</button></a></div>
        <div><a href="/check"><button type="button" class="btn btn-outline-info">Check</button></a></div>
        <!-- <div><a href="/close"><button type="button" class="btn btn-outline-danger">Close DB</button></a></div> -->
        <div style="margin-top: 50px;"></div>
        &copy; Copyright 2021 by <a href="http://localhost/">Localhost</a>.
        {% endblock %}
    </div>
</body>
</html>