{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Joooo</h1>

<form method="POST" action="/word/">
  <fieldset>
    <div class="form-group">
      <label for="textinput">Zoeken:</label>
      <input type="text" class="form-control" id="textinput" name="textinput" aria-describedby="textHelp" {% if value %}value="{{ value }}"{% else %}placeholder="Enter (part of) word"{% endif %}>
      <small id="textHelp" class="form-text text-muted">Enter letter(s) or part of a word</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
<hr style="margin: 20px 10px;">
{% if results %}
    {% for word in results %}
        <div class="status">{% autoescape false %}{{ word }}{% endautoescape %}</div>
    {% endfor %}
{% endif %}


{% if status %}
    <div class="status">{{ status }}</div>
{% endif %}

{% endblock %}