{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="pagetitle"><a href="/">Wordfinder</a></div>

<form method="POST" action="/word/">
  <fieldset>
    <div class="form-group">
      <label for="textinput">Zoeken:</label>
      <input type="text" class="form-control" id="textinput" name="textinput" aria-describedby="textHelp" {% if value %}value="{{ value }}"{% else %}placeholder="Enter letters"{% endif %}>
      <!-- <small id="textHelp" class="form-text text-muted">Enter letter(s) or part of a word</small> -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
<hr style="margin: 20px 10px;">
{% if value %}
{% for word, score in result %}
    <div class="status">
      <a href="https://www.encyclo.nl/begrip/{{ word }}" target="_blank">
        {% autoescape false %}{{ word|replace(value, "<b><u>" + value + "</u></b>") }}{% endautoescape %}
      </a> ({{ score }})
    </div>


{% endfor %}
{% endif %}


{% if status %}
    <div class="status">{{ status }}</div>
{% endif %}

{% endblock %}