{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="pagetitle"><a href="/">Wordfinder</a></div>

<form method="POST" action="/">
  <fieldset>
    <div class="form-group">
      <label for="letterinput">Zoeken:</label>
      <input type="search" class="form-control" id="letterinput" name="letterinput" {% if lettervalue %}value="{{ lettervalue }}"{% else %}placeholder="Voer letters in. Gebruik ? voor blanco."{% endif %} autocomplete="off" autofocus>
    </div>
    <div class="form-group">
      <label for="wordinput">Moet passen op (deel van) woord:</label>
      <input type="search" class="form-control" id="wordinput" name="wordinput" {% if wordvalue %}value="{{ wordvalue }}"{% else %}placeholder="Voer (een deel van) een woord in. Gebruik ? voor blanco."{% endif %} autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
<hr style="margin: 20px 10px;">
{% if lettervalue %}
<table id="resulttable">
  <th onclick="sortTable(0)">Woord</th>
  <th onclick="sortTable(1)">Letters</th>
  <th onclick="sortTable(2)">Waarde</th>
{% for word, score in result|sort(attribute="score") %}
  {% if word != wordvalue %}
  <tr>
    <td><a href="https://www.encyclo.nl/begrip/{{ word }}" target="_blank">
        {% autoescape false %}{{ word|replace(wordvalue, "<u>" + wordvalue + "</u>") }}{% endautoescape %}
    </a></td>
    <td class="center">{{ word|length }}</td>
    <td class="center">{{ score }}</td>
  </tr>
  {% endif %}
{% endfor %}

</table>
{% endif %}

<script src="/static/tablesort.js"></script>
{% endblock %}